/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

nav{
  background-color: whitesmoke;
}

.btn{
  margin: 5%;
  width: 80%;
  height: 60px;
}